[submodule "Messaging"]
	path = Messaging
	url = https://github.com/LGP5/Messaging.git
[submodule "Unit-Testing"]
	path = Unit-Testing
        url=https://github.com/LGP5/Unit-Testing.git

[submodule "LVOOP"]

	path = LVOOP

	url = https://github.com/LGP5/LVOOP.git
[submodule "Frameworks"]
	path = Frameworks
	url = https://github.com/LGP5/Frameworks.git
[submodule "Timing"]
	path = Timing
	url = https://github.com/LGP5/Timing.git
[submodule "Fundamentals"]
	path = Fundamentals
	url = https://github.com/LGP5/Fundamentals.git
